// === NEUTRALS ===
$N000: #ffffff;
$N100: #f9fafc;
$N200: #f2f4f8;
$N300: #dfe4eb;
$N400: #bbc2cd;
$N500: #9da9b5;
$N600: #687d8f; // light-grey
$N700: #5b6d83;
$N800: #373d47;

// === BLUES ===
$B100: #e1f4ff;
$B200: #5aafe8;
$B300: #0e76bc; //light-blue
$B400: #0c619a;
$B500: #0b5689;
$B600: #084167;
$B700: #062b45; //darken blue
$B800: #031623;

// === SECONDARY ===
$R300: #ec6060;
$G300: #71c76a;
$Y300: #fcb040;
