.daily-cycle-modal {
  max-width: 560px;
  .daily-cycle-modal__header {
    @extend .flex-center;
    height: 65px;

    .close {
      span {
        padding-top: 10px;
        color: $N500;
        font-weight: 400;
      }
    }
  }
  .daily-cycle-modal__inputs-container {
    margin: 36px 40px 40px 40px;
    max-width: 480px;
    .daily-cycle-modal__inputs-container__top {
      margin-bottom: 10px;
      .input {
        color: $B700;
        margin-left: 8px;
      }
    }
    .daily-cycle-modal__inputs-container__bottom {
      padding: 10px;
      margin-left: 36px;
    }
  }

  .daily-cycle-modal__inputs-container--mb {
    margin-bottom: 24px;
  }

  .modal-footer {
    gap: 22px;
    height: 82px;
    padding: 22px 40px;

    button {
      margin: 0;
    }
  }
}
