.modal-default {
  color: $B700;
  background-color: #062b4587;

  .modal-header {
    height: 65px;
    align-items: center;
    
    .modal-title {
      @extend .display-small;
      text-align: center;
      width: 100%;
      margin-right: -48px;
    }
    .close {
      padding-top: 10px;
      margin-left: 0;
    }
  }
  .modal-body {
    padding: 36px 40px !important;

    .form-group:last-of-type {
      margin-bottom: 0;
    }
  }
  .modal-content {
    min-width: 560px;
  }
  .modal-footer {
    gap: 24px;
    padding: 22px 40px;

    button {
      margin: 0;
    }
  }
}