.presentation-modal {
  color: $B700;
  display: block;
  overflow-y: auto;

  .modal-content {
    padding: 0 30px 38px 40px;
    max-width: 560px;
    border-radius: 5px;
  }
  .close {
    position: absolute;
    top: 17px;
    right: 30px;
    padding: 0;
    margin: 0;
  }
  .modal-header {
    padding: 0px;
  }
  .modal-body {
    padding: 0px;
  }
  .modal-text {
    @extend .display-small;
    margin-top: 64px;
    margin-bottom: 28px;
  }
  .popup-image {
    border: 18px solid $B100;
    border-radius: 200px;
    img {
      border: 4px solid white;
      border-radius: 200px;
    }
  }
  .modal-footer {
    margin: 52px 0 0px;
    padding: 0px;
    border: none;

    button {
      margin: 0 !important;
      border: none !important;
      width: 180px;
      padding: 14px 32px;
      border-radius: 3px;
    }
  }
  .modal-dialog {
    max-width: 560px !important;
  }
}
