.scene-modal {
  .modal-content {
    height: 760px;
    overflow: hidden;
  }
  .modal-body {
    overflow-y: scroll;
    padding: 29px 38px 0 !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
    &::-webkit-scrollbar {
      display: none;
    }

    .form-group {
      margin-bottom: 24px;
    }
    .equipment-states {
      margin-top: 6px;

      .equipment-state {
        padding: 15px 0 !important;
        border-bottom: 1px solid $N300 !important;

        &:last-of-type {
          border-bottom: 0 !important;
        }
        .form-group {
          margin: 0;
        }
        .state-name {
          color: $N600;
        }
        .state-ap-name {
          font-size: 11px;
          line-height: 14px;
          color: $N500;
        }
        .our-custom-select__trigger {
          min-width: 240px;
        }  
      }
    }
    .hidden-equipment-states {
      padding: 12px 0;

      .icon-sm {
        margin-right: 14px;
      }
      p {
        @extend .caption;
        color: $N600;
        margin-right: 8px;
      }
      a {
        @extend .caption;
        color: $B300;
      }
    }
  }
}