.modal {
  color: $B700;
  display: block;
  overflow-y: auto;
}
.fade:not(.show) {
  opacity: 1 !important;
}
.modal-content {
  padding: 0 40px;
  max-width: 560px;
}
.close {
  position: absolute;
  top: 22px;
  right: 30px;
  padding: 0;
  margin: 0;
}
.modal-header {
  padding: 0px;
}
.modal-body {
  padding: 0px;
}
.modal-text {
  @extend .display-small;
  margin-top: 64px;
}
.popup-image {
  border: 18px solid $B100;
  border-radius: 200px;
  margin-top: 28px;
  
  img {
    border: 4px solid white;
    border-radius: 200px;
  }
}
.modal-footer {
  margin: 52px 0 38px;
  padding: 0px;
  border: none;
  
  button {
    margin: 0 !important;
    border: none !important;
    width: 180px;
    padding: 14px 32px;
  }
}

// Spotlight
.spotlight-modal {
  display: block !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  position: absolute !important;
  width: 252px !important ;
  top: 0px !important;
  right: 300px !important;
  color: #062b45 !important;
  margin: 8px 0;
}
.spotlight-button {
  text-align: right;
}
.spotlight-add {
  z-index: 10000;
}
.spotlight-button:hover {
  cursor: pointer;
  color: #2c6a96;
}
.walkthrough-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #031623;
  opacity: 0.6;
  z-index: 1;
}
.walkthrough-spotlight-modal {
  background-color: #fcb040 !important;
  width: 100%;
  height: 100%;
  padding: 12px 31px 20px 17px !important;
  border-radius: 3px;
}