.automation-boxes-card-container {
  .col-4 {
    max-width: calc(33.333333% - 8px);
  }
  .automation-boxes-card {
    @extend .elevated-sm;
    border-radius: 8px;
    padding-left: 16px !important;
    padding-bottom: 12px;
    padding-right: 8px !important;
    padding-top: 6px;
    border: 1px solid $N300;
  
    .automation-boxes-card-name {
      @extend .label;
      color: black;
      margin: 0;
    }
    .automation-boxes-card-gearicon {
      height: 32px;
      width: 32px;
      border: none;
      background: none;
      align-self: flex-start;
    }
    .automation-boxes-card-subheader {
      @extend .small;
      margin: 0;
      color: $N600;
      text-align: left;
    }
    .automation-boxes-card-label {
      width: 39px;
      height: 26px;
      background-color: #dfe4eb;
      border-radius: 3px;
      margin-right: 8px;
      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      p {
        @extend .body;
        margin: 0;
        color: $N600;
      }
    }
    .automation-boxes-card-labels-container {
      margin-top: 5px;
    }
  }
}