.device-sensor-cards-container {
  padding: 0 12px 16px;

  .col-4 {
    max-width: calc(33.333333% - 8px);
  }

  .device-sensor-card {
    @extend .elevated-sm;
    text-align: start;
    min-height: 130px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid $N300;
    position: relative;
    padding: 6px 8px 12px 12px;

    .device-details {
      margin-left: 15px;
    }
    .device-name {
      color: #062b45;
      font-weight: 600;
    }
    .device-subtitle {
      margin-top: 3px;
      color: $N600;
      @extend .small;
    }
    .device-senses-icons {
      margin-top: 5px;
    }
    .empty-card {
      height: 126px;
      padding: 25px 12px 27px;
      p {
        margin-bottom: 16px;
      }
      button {
        @extend .button-label;
        color: $B700;
      }
    }
  }
}

.device-sensor-card__left {
  padding-top: 6px;
}
