.graph-box-container {
  width: 100%;
  gap: 20px;

  .col-md-6 {
    max-width: calc(50% - 10px);
  }

  p {
    margin: 0;
  }
  .graph-box {
    @extend .elevated-sm;
    background-color: $N000;
    border: 1px solid $N300;
    border-radius: 8px;

    .graph-box-header {
      padding: 7px 10px 0 4px;
      .group-override p {
        @extend .small--regular;
        color: $N600 !important;
        margin-left: 31px;
        margin-bottom: 4px;
      }
      p {
        @extend .body--bold;
        color: $B700;
        display: flex;
        align-items: center;
      }
      .download-btn {
        @extend .btn-icon-sm;
        padding: 4px;
        border-width: 1px;
        width: 28px;
        height: 28px;

        img {
          margin: 0 auto;
        }
      }
    }
    .graph-box-content {
      padding: 0px 0px 4px 1px;
      position: relative;
      .tick line {
        visibility: hidden;
      }
      .yaxis-labels {
        font-size: 9px;
        font-weight: 600;
      }
      .xaxis-labels {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 18px;
        color: #687d8f;
      }
      .overlay {
        fill: none;
        pointer-events: all;
      }
      .tooltip-area {
        position: absolute;
        display: flex;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 156px;
        padding-top: 11px;
        padding-bottom: 10.2px;
        background: rgba(6, 43, 69, 0.9);
        box-shadow: 0px 3px 10px rgba(55, 61, 71, 0.2);
        border-radius: 5px;
        z-index: 100;
        .legend-line {
          margin-right: 9px;
        }
        &__text {
          text-align: left;
          z-index: 100;
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 18px;
          color: #9da9b5;
          font-size: 400;

          .tooltip-number {
            color: #f9fafc;
          }

          .power-text {
            &__on {
              color: #71c76a;
            }
            &__off {
              color: #687d8f;
            }
          }
          .mode-text {
            &__override {
              color: #ec6060;
            }

            &__auto {
              color: #5aafe8;
            }
          }
        }
      }
    }
  }
  .change-mode {
    min-width: 290px;
    margin-right: 20px;
  }
  .group-power-mode {
    text-align: start;
    gap: 10px;
  }
  .group-override {
    min-width: 160px;
  }

  .group-override div {
    gap: 5px;
  }
  .group-power-mode div span:first-child {
    @extend .small--regular;
    color: $N600;
  }
  .group-power-mode div span:last-child {
    @extend .body--bold;
  }
  .group-power-mode div .active {
    color: $B200;
    border: none !important;
  }
  .group-override div button {
    @extend .flex-center;
    background: $B300;
    width: 50px;
    height: 26px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 500;
  }
  .group-override div button[disabled] {
    background: $N200;
    color: $N400;
  }
}
.card-stack-graph {
  .graph-box-header p {
    gap: 12px;
  }
  .graph-box-content {
    padding-top: 4px !important;
  }
}
