.rectangle-card {
  padding: 20px 30px;
  border: 1px solid $N300;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(6, 43, 69, 0.05);
  background-color: $N000;

  .card-label {
    @extend .subheading;
    color: $N500;
  }
  .current-plan {
    margin-top: 10px;
    color: $B700;
    .plan-name {
      @extend .display-small;
      margin-bottom: 7px;
    }
    .plan-price {
      @extend .display-small;
    }
  }
  .change-plan-btn {
    margin-top: 21px;
  }

  .integration-app {
    gap: 13px;

    .app-img {
      border-radius: 5px;
    }
    .app-name {
      @extend .heading;
      color: $B700;
    }
  }
  .app-description {
    color: $N600;
    margin-top: 10px;
  }
}