.sensor-cards-container {
  padding: 0 12px 12px !important;
  gap: 8px !important;
  
  .sensor-card {
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid $N300;
    position: relative;
    
    .grap-icon {
      margin-right: 5px;
    }
    .sensor-name {
      @extend .label;
      color: $B700;
    }
    .sensor-alarm-label {
      margin-left: 10px;
    }
    .sensor-status-text {
      min-width: 250px;
      color: $N600;
      margin-top: 2px;
      font-size: 11px;
      line-height: 16px;
      font-weight: 500;
      text-align: start;
    }
    .sensor-values {
      gap: 20px;
    }
    .sensor-current-value {
      margin-bottom: 6px;
      color: $N700;
      text-align: start;
    }
    .sense-icon { 
      color: $B700;
      img {
        margin-right: 6px;
        margin-bottom: 7px;
      }
    }
    .sensor-current-value span:nth-child(2) {
      @extend .display-small;
    }
    .sensor-mm-lh {
      gap: 16px;
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
    }
    .sensor-mm-lh div span {
      font-weight: 500;
      color: $N700;
    }
    .value-measurement {
      gap: 2px;
      margin-left: 3px;

      span {
        color: $B700 !important;
      }
    }
  }
}
