:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
  --light-grey: #687d8f;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.side-bar {
  background-color: #031623;
  color: var(--light-grey);
  font-size: 14px;
  max-width: 250px !important;
}

.side-bar__items {
  list-style-type: none;
}

.sid-bar__links,
.sid-bar__links:hover {
  font-size: 14px;
  font-weight: 400;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 2px;
}

.sid-bar__text {
  padding-left: 18px;
}

.link_no_decoration,
.link_no_decoration:hover {
  text-decoration: none;
  color: inherit;
}

.main-page {
  background-color: #f9fafc;
}

.navbar {
  height: 60px;
  box-shadow: 1px 1px #dfe4eb;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar__right {
  color: var(--light-blue);
  font-size: 14px;
  font-weight: 600;
}

.navbar__device {
  padding: 0px;
  margin-right: 18px;
  border: none;
  background: none;
}

.user-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.humberger {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  margin-right: 16px;
}

.main-content {
  padding: 20px 40px 0 40px;
}

.navbar__left {
  padding-left: 20px;
}

.main-content__header__paragraph {
  color: var(--darken-blue);
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.mid-section {
  margin-top: 20px;
  color: var(--light-grey);
}

.mid-section__header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.mid-section__paragraph {
  font-size: 14px;
  margin-bottom: 12px;
}

.mid-section__button, .btn-main {
  border: none;
  background-color: var(--light-blue);
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: fit-content !important;
  padding: 8px 12px 8px 12px;
}
.btn-main:hover {
  color: white;
}

.main-content__header__icon {
  margin-left: 10px;
  height: 16px;
  width: 16px;
}

.mm-lh {
  margin-right: 30px;
}
.mm-lh-switch {
  border-radius: 5px;
  /* border: 1px solid rgba(223, 228, 235, 1) */
  border: 1px solid #DFE4EB;
  margin-right: 15px;
}
.mm-lh-switch button {
  font-weight: 600;
  font-size: 14px;
  color: #9DA9B5;
  padding: 8px 15px;
}
.mm-lh-switch button:hover, .mm-lh-switch button:focus{
  color: #9DA9B5;
  box-shadow: none;
}
.mm-lh-switch button:active, .switch-active {
  outline: 0 !important;
  color: #062B45 !important;
  border-right: 1px solid #DFE4EB !important;
  border-left: 1px solid #DFE4EB !important;
  border-top: 0;
  border-bottom: 0;
  border-radius: 5px !important;
  z-index: 2;
  box-shadow: 0px 1px 1px 0px rgba(6, 43, 69, 0.05) !important;
}

/* Group Card */
.group-card {
  background-color: #F2F4F8;
  border-radius: 8px;
  margin-bottom: 20px;
}
.group-card-header {
  position: relative;
  height: 48px;
  padding: 8px;
}
.collapse-icon {
  cursor: pointer;
}
.group-name {
  height: 32px;
  margin-left: 6px;
  padding: 4px 0;
}
.group-name p {
  font-size: 16px;
  font-weight: 600;
  color: #062B45;
}
.group-name p svg {
  margin-right: 8px;
}
.data-graphs-btn {
  box-sizing: border-box;
  margin-left: 10px;
  height: 28px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  padding: 4px 8px;
  background: white;
  border: 2px solid #DFE4EB;
  border-radius: 4px;
}
.data-graphs-btn svg {
  margin-bottom: 5px;
}

/* Device Group */
.device-group {
  background-color: #F2F4F8;
  border-radius: 8px;
  margin-bottom: 20px;
}
.device-group-header {
  position: relative;
  height: 48px;
  padding: 8px;
}
.collapse-icon {
  cursor: pointer;
}
.device-group-name {
  height: 32px;
  margin-left: 6px;
  padding: 4px 0;
}
.device-group-name p {
  font-size: 16px;
  font-weight: 600;
  color: #062B45;
}
.settings-icon {
  margin-right: 2px;
  cursor: pointer;
}
.settings-icon .dropdown-menu {
  font-size: 14px;
  color: #062B45;
  width: 192px;
  line-height: 20px;
}
.settings-icon button {
  background: transparent;
  border: 0;
  padding: 0;
}
.settings-icon button::after {
  content: none;
}

/* Device Sensors Cards */
.equipment-cards {
  padding: 0 12px 12px 12px;
  text-align: start;
  gap: 12px;
}
.equipment-card {
  min-height: 203px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #DFE4EB;
  position: relative;
  padding: 14px 18px 16px 18px;
}
.equipment-cards .device-details {
  margin-left: 15px;
}
.equipment-cards .device-name {
  color: #062B45;
  font-weight: 600;
  margin-top: 11px;
}
.equipment-cards .device-subtitle {
  margin-top: 1px;
  color: #687D8F;
  font-size: 11px;
  line-height: 14px;
  margin-top: 6px;
  padding: 2px 6px;
  background: #DFE4EB;
  border-radius: 100px;
}
.equipment-card .change-mode {
  margin-top: 10px;
}
.equipment-card .group-power-mode {
  gap: 10px;
}
.equipment-card .group-override p {
  line-height: 14px;
  font-size: 11px;
  font-weight: 400;
  color: #687D8F;
  margin-left: 31px;
  margin-bottom: 4px;
}
.equipment-card .group-override div {
  gap: 5px;
}
.equipment-card .group-power-mode div span:first-child {
  font-size: 11px;
  color: #687D8F;
}
.equipment-card .group-power-mode div span:last-child {
  font-size: 14px;
  font-weight: 600;
}
.equipment-card .group-power-mode div .active {
  color: #5AAFE8;
}
.equipment-card .group-override div button {
  background: #0E76BC;
  width: 50px;
  height: 26px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
}
.equipment-card .group-override div button:last-child {
  background: #F2F4F8;
  color: #BBC2CD;
}
.equipment-card .groups-tags {
  margin-top: 8px;
  color: #687D8F;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
}
.equipment-card .scene-groups-tags {
  margin-top: 2px;
  gap: 8px;
  color: #0E76BC;
}
.equipment-card .group-tags-overflow {
  border: 1px solid #E1F4FF;
  background: white !important;
}
.equipment-card .scene-groups-tags span {
  background-color: #E1F4FF;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 22px;
}
.equipment-card .settings-icon {
  position: absolute;
  right: 8px;
  top: 6px;
  margin: 0;
}
