:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
}
body {
  width: 100%;
  height: 100vh;
  font-family: Inter;
  font-size: 14px;
}
.automation-box-model {
  max-width: 560px;
  height: 547px;
  border-radius: 5px;
  position: relative;
  line-height: 22px;
  color: var(--darken-blue);
  /* Remove Later */
  margin: 50px auto;
}
.automation-box-model * {
  margin: 0;
}
.automation-box-model__close-button {
  position: absolute;
  top: 28px;
  right: 30px;
}
.automation-box-model__content {
  width: 100%;
  padding: 0 40px;
}
.automation-box-model__title {
  margin-top: 42px;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 36px;
}
.automation-box-model__subtitle {
  height: 22px;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
}
.automation-box-model__form {
  margin-top: 59px;
}
.automation-box-model__form div {
  margin-top: 20px;
}
.automation-box-model form input {
  border-width: 2px;
}
.sensor-model form ::placeholder {
  color: #9DA9B5;
}
#device-id, #install-data {
  background: #F9FAFC;
}
.automation-box-model__form div label {
  margin-bottom: 2px;
  font-weight: 600;
  color: #687d8f;
}
.automation-box-model__footer {
  height: 81px;
  margin: 0;
  border-width: 1px;
  border-color: #dfe4eb;
}
.automation-box-model__footer > * {
  margin-top: 23px;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 600;
}
.automation-box-model__footer .continue-button {
  background-color: var(--light-blue);
  color: white;
  margin-right: 40px;
}
.automation-box-model__footer .back-button {
  margin: 8px 2px;
  color: var(--light-blue);
  margin-right: 24px;
  text-decoration: none;
}
