:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
}
body {
  height: 100vh;
}
.form-container__content {
  padding-left: 121px;
  padding-right: 121px;
  font-family: 'Inter', sans-serif;
  padding-top: 100px;
}
.form-container__content__title {
  padding: 70px 0 36px 0;
  color: var(--darken-blue);
  font-weight: 600;
  font-size: 26px;
}
.form-container__content .form-group {
  padding-bottom: 11px;
}
.form-container__content .form-group label {
  color: #687d8f;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 3px;
}
.form-group input {
  border: 1px solid #dfe4eb;

  padding: 0.305rem 0.75rem;
}
.form-container__content .form-check-label {
  color: var(--darken-blue);
  font-size: 14px;
}
.form-container__content__forgot-password {
  color: var(--light-blue);
  font-size: 14px;
}
.form-container__content__button {
  margin-top: 42px;
  background-color: var(--light-blue) !important;
  margin-bottom: 24px;
}
.form-container__content__register {
  color: var(--darken-blue);
  font-size: 14px;
}
.form-container__content__register__special {
  text-decoration: none;
  color: var(--light-blue);
}
/*   Login Form Image  */
.form-container__image {
  background-image: linear-gradient(rgba(6, 43, 69, 0), rgb(2, 30, 49)),
    url('../assests/Login\ Background.png');
}
.form-container__Image__titles_container {
  padding-left: 80px;
  padding-bottom: 76px;
  height: 100%;
}
.form-container__Image__title {
  color: #fcb040;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 42px;
  max-width: 69%;
  letter-spacing: -1px;
}
.form-container__Image__subtitle {
  color: white;
  font-weight: 400;
  font-size: 14px;
  max-width: 42%;
  line-height: 22px;
}
/*   Login Form Image  */

/* Reset password part */

/* Reset password part */
