body {
  box-sizing: border-box;
}
.our-custom-select-wrapper {
  position: relative;
  user-select: none;
}
.our-custom-select-wrapper__div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.our-custom-select__trigger {
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $N300;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  color: $B700;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  span {
    @extend .input;
    color: $B700;
  }
  .placeholder {
    color: $N500 !important;
  }
}
.open {
  .our-custom-select__trigger {
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 0.2rem RGB(0 123 255 / 25%) !important;
  }
}
.custom-options {
  position: absolute;
  display: block;
  background-color: white;
  top: 116%;
  left: 0;
  right: 0;
  padding: 5px 0px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  border: 1px solid $N300;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(55, 61, 71, 0.2);
}
.our-custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  @extend .input;
  position: relative;
  display: block;
  padding: 9px 15px;
  min-height: 38px;
  background-color: white;
  color: $B700;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-options-title {
  @extend .label;
  @extend .custom-option;
  color: $N600 !important;
  background-color: $N200 !important;
  font-weight: 600;
  padding: 9px 15px;
  cursor: default !important;
}
.custom-option:hover {
  cursor: pointer;
}
.arrow {
  display: flex;
  padding-right: 12px;
  img {
    height: 16px;
    width: 10px;
  }
}

.custom-option:hover {
  cursor: pointer;
  background-color: $B100;
}
.custom-option.selected {
  color: #ffffff;
  background-color: $B300;
}
