body {
  box-sizing: border-box;
}
.our-custom-select-wrapper {
  position: relative;
  user-select: none;
}
.our-custom-select-wrapper__div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.our-custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $N300;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  color: $B700;
  cursor: pointer;
}
.custom-options {
  position: absolute;
  display: block;
  top: 115%;
  left: 0;
  right: 0;
  padding: 5px 0px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  border: 1px solid $N300;
  border-radius: 5px;
}
.our-custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  @extend .input;
  position: relative;
  display: block;
  padding: 9px 15px;
  background-color: white;
  color: $B700;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
}

.arrow {
  display: flex;
  padding-right: 12px;
  img {
    height: 16px;
    width: 10px;
  }
}
