.graph-switches-bar {
  gap: 16px;

  @extend .elevated-sm;
  background: $N000;
  padding: 0 40px 11px;
  border-bottom: 1px solid $N300;

  .switch-label {
    @extend .body;
    color: $B700 !important;
  }
  input:checked + .slider {
    background-color: #B1DF8D !important;
  }
  .blue-switch:checked + .slider {
    background-color: #89B5F9 !important;
  }
  .purple-switch:checked + .slider {
    background-color: #998DDF !important;
  }
  .orange-switch:checked + .slider {
    background-color: #F5AE43 !important;
  }
  .red-switch:checked + .slider {
    background-color: #EC7281 !important;
  }
}