.graph-options-bar {
  padding: 0 40px 15px !important;
  background-color: $N000;

  .dropdown {
    margin-right: 10px !important;
  }
}
.pb {
  padding-top: 15px !important;
  border: 1px solid $N300;
}