.input-tags {
  label {
    margin-bottom: 2px;
  }
  .input-field, .input-field:active, .input-field:focus {
    border: none !important;
    outline: none;
    padding: 0;
  }
  .input-tags-content {
    border: 2px solid $N300;
    border-radius: 5px;
    padding: 3px 8px;
    gap: 6px;
  }
}