 .registering {
  max-width: 560px;
  height: 547px;
  border-radius: 5px;
  margin: 50px auto;
  color: $B700;
  box-shadow: 0px 24px 38px rgba(55, 61, 71, 0.14), 0px 11px 15px rgba(55, 61, 71, 0.2);

  .loaders {
    margin-top: 214px;
    gap: 18px;
  }
  .spinner-grow {
    background: $N300;
  }
  .spinner-grow:nth-child(1) {
    width: 30px;
    height: 30px;
  }
  .spinner-grow:nth-child(2) {
    width: 22px;
    height: 22px;
  }
  .spinner-grow:nth-child(3) {
    width: 14px;
    height: 14px;
  }
  .loading-text {
    margin-top: 22px;
  }
}