.spotlight-modal {
  font-size: 14px !important;
  font-weight: 400 !important;
  position: absolute !important;
  width: 252px !important ;
  top: 0px !important;
  right: 300px !important;
  color: #062b45 !important;
}
.spotlight-button {
  text-align: right;
}
.spotlight-add {
  z-index: 10000;
}
.spotlight-button:hover {
  cursor: pointer;
  color: #2c6a96;
}
.walkthrough-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #031623;
  opacity: 0.6;
  z-index: 1;
}
.walkthrough-spotlight-modal {
  background-color: #fcb040 !important;
  width: 100%;
  height: 100%;
  padding: 12px 31px 20px 17px !important;
  border-radius: 3px;
}
/* MODAL */
.modal {
  display: block !important;
  font-family: 'Inter', sans-serif;
}
.fade:not(.show) {
  opacity: 1 !important;
}
.modal-content {
  padding: 28px 36px 38px 28px;
  max-width: 560px;
}
.modal-header {
  border-bottom: 0px !important;
  padding: 0px !important;
}
.modal-body {
  padding: 0px !important;
}
.modal-header__icon {
  color: var(--light-grey);
  font-size: 22px;
  font-weight: 600;
}
.modal-text {
  color: var(--darken-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 20px;
}
.popup-image {
  border: 17px solid #e1f4ff;
  border-radius: 200px;
  margin: 28px 0px 40px 0px;
}
.modal-footer {
  border: 0px !important;
  padding: 0px !important;
}
.modal-footer button {
  background-color: var(--light-blue);
  padding: 14px 74px;
}
.modal.modal-vcenter {
  padding: 0px !important;
}
.modal.modal-vcenter .modal-dialog {
  /* overwrites bootstrap4 properties */
  position: relative;
  margin: auto;
  max-width: 100%;
  /* added properties */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .modal.modal-vcenter .modal-dialog {
    min-width: 546px; /* or whatever min-width you want */
    max-width: 50%; /* width for most tablets and desktops */
  }
}

.modal .modal-body {
  max-height: 40vh;
  overflow-y: auto;
}
@media screen and (min-height: 460px) {
  .modal .modal-body {
    max-height: 65vh;
  }
}
/* MODAL */
