.tags-input {
  width: 320px;
  border-radius: 5px;
  border: 1px solid $N300;
  label {
    @extend .input;
    margin-bottom: 0;
    color: $B700;
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
}

.tags-input__search {
  padding: 10px 15px;
  border-bottom: 1px solid $N300;
  
  input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid $N300;
    border-radius: 5px;
    width: 100%;
    height: 36px;
  }
}

.tags-input__checkboxes {
  border-bottom: 1px solid $N300;
  div {
    padding: 9px 15px;
  }
  input {
    margin-right: 10px;
  }
  .tags-input__checkboxes__group__label {
    @extend .label;
    color: $N600;
    background-color: $N200;
  }
}

.tags-input__checkboxes--scrollable {
  overflow: hidden;

  .tags-input__checkboxes--scrollable__div {
    max-height: 210px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
  }
}

.tags-input__buttons__button {
  padding: 9px 15px;
  button {
    color: $B700;
  }
}

.dropdown-menu {
  border: 1px solid $N300 !important;
  border-radius: 5px !important;
  padding: 5px 0 !important;
  margin: 0 !important;
}

.dropdown-item {
  @extend .input;
  color: $B700 !important;
  padding: 9px 15px !important;
}
.apply-btn {
  background: $B300;

  button {
    color: $N000;
    font-weight: 600;
  }
}