:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
  --light-grey: #687d8f;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif !important;
}

.side-bar {
  background-color: #031623;
  color: var(--light-grey);
  font-size: 14px;
  max-width: 250px !important;
}

.side-bar__items {
  list-style-type: none;
}

.main-page {
  background-color: #f9fafc;
}

.navbar {
  height: 60px;
  box-shadow: 1px 1px #dfe4eb;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar__right {
  color: var(--light-blue);
  font-size: 14px;
  font-weight: 600;
}

.main-content {
  padding: 20px 40px 98px 40px;
}

.main-content__header {
  color: var(--darken-blue);
  font-size: 26px;
  font-weight: 600;
}

.form-text {
  padding-top: 30px !important;
  padding-left: 40px !important;
}

label {
  font-weight: 600;
}

.form__switch {
  color: var(--darken-blue);
  font-size: 14px;
  font-weight: 600;
  padding: 0 !important;
  padding-top: 20px !important;
}

.form__switch label {
  font-weight: 400;
}

.dropdown {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-right: -10px;
}

.form-select {
  background-image: url("../assets/arrow.svg") !important;
  background-size: unset !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-right: 70px !important;
}

.form__switch__p {
  margin-bottom: 5px;
  padding-right: 0px !important;
  width: 48px;
}

.form-switch .form-check-input {
  height: 1.6em;
  width: 2.9em !important;
}

.form__switch__text input {
  max-height: 36px;
}

.form-switch-container {
  min-height: 93px;
}

.form__switch__input--mr {
  margin-right: 10px;
}

.sid-bar__links,
.sid-bar__links:hover {
  font-size: 14px;
  font-weight: 400;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 2px;
}

.sid-bar__text {
  padding-left: 18px;
}

.form-text__padding {
  padding-top: 20px;
}

.back_button {
  padding-right: 14px;
}

.user-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.navbar__device {
  padding: 0px;
  margin-right: 18px;
  border: none;
  background: none;
}

.switch_image {
  width: 60px !important;
  height: 60px !important;
}

.swithc_image__add {
  position: relative;
  bottom: 68px;
  left: 40px;
}

.swithc_image__add--border {
  border: solid 1px #dfe4eb !important;
  border-radius: 25%;
  width: 28px;
  height: 28px;
}

.switch_container {
  padding-top: 16px;
  padding-bottom: 15px;
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.humberger {
  margin-right: 16px !important;
}

.button-no-style {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.navbar__left {
  padding-left: 20px;
}

.link_no_decoration,
.link_no_decoration:hover {
  text-decoration: none;
  color: inherit;
}

.save-button {
  border: none;
  background-color: var(--light-blue);
  width: 148px;
  height: 36px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  padding: 0px;
}
