  <!-- Add Sensor Modal -->
  <div class="modal fade modal-default add-sensor-modal" id="add-sensor" tabindex="-1" aria-labelledby="add-sensor"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-label">Add sensors in group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex">
          <div class="modal-column col-6">
            <p class="column-title m-0">Available sensors</p>
            <!-- <div class="empty-sensors d-flex flex-column align-items-center">
              <p class="m-0">You have no sensors added yet.</p>
              <button class="btn btn-primary">Add device</button>
            </div> -->
            <div class="sensors-list d-flex flex-column">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Lettuce</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                <label class="custom-control-label" for="customCheck2">Herbs</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3" checked>
                <label class="custom-control-label" for="customCheck3">Flowers</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                <label class="custom-control-label" for="customCheck4">Ceiling</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck5" checked>
                <label class="custom-control-label" for="customCheck5">Air outlet</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck6" checked>
                <label class="custom-control-label" for="customCheck6">Outside</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck7">
                <label class="custom-control-label" for="customCheck7">Onions</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck8">
                <label class="custom-control-label" for="customCheck8">Carrots</label>
              </div>
            </div>
          </div>
          <div class="modal-column col-6">
            <p class="column-title m-0">Selected sensors</p>
            <div class="selected-sensor-list d-flex flex-column">
              <div class="selected-sensor d-flex justify-content-between align-items-center">
                <p class="m-0">Herbs</p>
                <button type="button" class="close" aria-label="Close">
                  <img src="../../../assets/icon-close.svg" alt="remove">
                </button>
              </div>
              <div class="selected-sensor d-flex justify-content-between align-items-center">
                <p class="m-0">Flowers</p>
                <button type="button" class="close" aria-label="Close">
                  <img src="../../../assets/icon-close.svg" alt="remove">
                </button>
              </div>
              <div class="selected-sensor d-flex justify-content-between align-items-center">
                <p class="m-0">Ceiling</p>
                <button type="button" class="close" aria-label="Close">
                  <img src="../../../assets/icon-close.svg" alt="remove">
                </button>
              </div>
              <div class="selected-sensor d-flex justify-content-between align-items-center">
                <p class="m-0">Air outlet</p>
                <button type="button" class="close" aria-label="Close">
                  <img src="../../../assets/icon-close.svg" alt="remove">
                </button>
              </div>
              <div class="selected-sensor d-flex justify-content-between align-items-center">
                <p class="m-0">Outside</p>
                <button type="button" class="close" aria-label="Close">
                  <img src="../../../assets/icon-close.svg" alt="remove">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex">
          <button type="button" class="btn btn-text text-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Add sensors</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Add Sensor Modal -->
