<div class="dropdown settings-custom-select">
  <div class="our-custom-select-wrapper">
    <div class="our-custom-select">
      <div class="our-custom-select__trigger">
        <span class="d-flex g-8px">
          <img src="../../../assets/icon-lights-dark.svg" />
          Lights
        </span>
        <div class="arrow">
          <img src="../../../assets/arrow.svg" alt="" />
        </div>
      </div>
      <div class="custom-options">
        <span class="custom-option d-flex g-8px" data-value="Weekly">
          <img src="../../../assets/icon-fans.svg" />
          Fans
        </span>
        <span class="custom-option selected d-flex g-8px" data-value="Weekly">
          <img src="../../../assets/icon-lights-dark.svg" />
          Lights
        </span>
        <span class="custom-option d-flex g-8px" data-value="Weekly">
          <img src="../../../assets/icon-cooling-dark.svg" />
          Cooling
        </span>
        <span class="custom-option d-flex g-8px" data-value="Weekly">
          <img src="../../../assets/icon-heating.svg" />
          Heating
        </span>
        <span class="custom-option d-flex g-8px" data-value="Weekly">
          <img src="../../../assets/icon-humidifier-dark.svg" />
          Humidifiers
        </span>
        <span class="custom-option d-flex g-8px" data-value="Weekly">
          <img src="../../../assets/icon-dehumidifiers-dark.svg" />
          Dehumidifiers
        </span>
      </div>
    </div>
  </div>
</div>
