<!-- Group Card -->
<div class="group-card">
  <!-- Group Card Header -->
  <div class="group-card-header d-flex justify-content-between">
    <!-- Group Card Name -->
    <div class="d-flex">
      <div class="collapse-icon">
        <img src="../../assets/Collapse.svg" alt="" />
      </div>
      <div class="group-name d-flex">
        <p>Greenhouse A</p>
      </div>
    </div>
    <!-- End Gruop Card Name -->
  </div>
  <!-- End Group Card Header -->
  <!-- Group Cards -->
  <div class="cards-container d-flex flex-column">
    <!-- Empty Card -->
    <div class="empty-card d-flex justify-content-center align-items-center">
      <p>No sensors in this group yet.</p>
      <button class="btn btn-light">
        <img src="../../../assets/icon-add.svg" alt="Addd" />
        Add sensors
      </button>
    </div>
    <!-- End Empty Card -->
  </div>
  <!-- End Group Cards -->
</div>
