<!-- Group Card -->
<div class="group-card scene-group-card">
  <!-- Group Card Header -->
  <div class="group-card-header d-flex justify-content-between">
    <!-- Group Name -->
    <div class="d-flex">
      <button class="button-nostyle arrow-icon">
        <img src="../../../assets/Collapse.svg" alt="" />
      </button>
      <div class="group-name d-flex">
        <p>
          <img src="../../../assets/icon-cooling.svg" alt="Cooling" />
          Cooling scenes
        </p>
      </div>
    </div>
    <!-- Group Name -->
  </div>
  <!-- End Group Card Header -->
  <!-- Scene Cards -->
  <div class="cards-container scene-cards-container d-flex flex-wrap">
    <!-- Scene card -->
    <div class="scene-card col-4">
      <div class="d-flex flex-row align-items-start">
        <div class="stage-status">
          <img src="../../../assets/icon-statue-off.svg" alt="Off" />
        </div>
        <div class="scene-details d-flex flex-column">
          <p class="scene-name">Scene name</p>
          <div class="card-titled-tags">
            <p class="tags-title">Groups</p>
            <div class="tags d-flex">
              <span class="tag">Group</span>
              <span class="tag tags-overflow">+2</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Settings Icon -->
      <div class="settings-icon">
        <button
          class="dropdown-btn dropdown-toggle dropdown-toggle-split"
          type="button"
          id="settings-menu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-offset="-174,0"
        >
          <img src="../../../assets/icon-gear.svg" alt="Settings" />
        </button>
        <ul
          class="dropdown-menu dropdown-menu-start"
          aria-labelledby="settings-menu"
        >
          <li><a class="dropdown-item" href="#">Edit scene</a></li>
          <li><a class="dropdown-item" href="#">Delete scene</a></li>
        </ul>
      </div>
      <!-- End Settings Icon -->
    </div>
    <!-- End Scene card -->
    <!-- Scene card -->
    <div class="scene-card col-4">
      <div class="d-flex flex-row align-items-start">
        <div class="stage-status">
          <img src="../../../assets/icon-statue-off.svg" alt="Off" />
        </div>
        <div class="scene-details d-flex flex-column">
          <p class="scene-name">Scene name</p>
          <div class="card-titled-tags">
            <p class="tags-title">Groups</p>
            <div class="tags d-flex">
              <span class="tag">Group</span>
              <span class="tag tags-overflow">+2</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Settings Icon -->
      <div class="settings-icon">
        <button
          class="dropdown-btn dropdown-toggle dropdown-toggle-split"
          type="button"
          id="settings-menu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-offset="-174,0"
        >
          <img src="../../../assets/icon-gear.svg" alt="Settings" />
        </button>
        <ul
          class="dropdown-menu dropdown-menu-start"
          aria-labelledby="settings-menu"
        >
          <li><a class="dropdown-item" href="#">Edit scene</a></li>
          <li><a class="dropdown-item" href="#">Delete scene</a></li>
        </ul>
      </div>
      <!-- End Settings Icon -->
    </div>
    <!-- End Scene card -->
  </div>
  <!-- End Scene cards -->
</div>
<!-- End Group Card -->
