<!-- Ap Group -->
<div class="group-card">
  <!-- Group Card Header -->
  <div class="group-card-header d-flex justify-content-between">
    <!-- Group Name -->
    <div class="d-flex">
      <button class="button-nostyle arrow-icon">
        <img src="../../../assets/Collapse.svg" alt="" />
      </button>
      <div class="group-name">
        <p>Automation boxes</p>
      </div>
    </div>
  </div>
  <!-- AP cards -->
  <div class="cards-container d-flex flex-wrap">
    <div class="automation-boxes-card bg-white d-flex col-4 flex-column">
      <div class="d-flex justify-content-between align-items-center w-100">
        <p class="automation-boxes-card-name d-flex flex-column">
          Automation box A
          <span class="automation-boxes-card-subheader">Equipment</span>
        </p>
        <button
          class="automation-boxes-card-gearicon dropdown-btn d-flex justify-content-center align-items-center dropdown-toggle dropdown-toggle-split"
          type="button" id="settings-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          data-offset="-159,0">
          <img src="../../../assets/Device-Settings.svg" alt="gear" />
        </button>
        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="settings-menu">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Unregister device</a></li>
        </ul>
      </div>
      <div class="automation-boxes-card-labels-container d-flex">
        <div class="automation-boxes-card-label d-flex justify-content-center align-items-center">
          <img class="mid-section__content__main__label__img" src="../../../assets/icon-fans.svg" alt="fan" />
          <p class="mid-section__content__main__label__p">1</p>
        </div>
        <div class="automation-boxes-card-label d-flex justify-content-center align-items-center">
          <img class="mid-section__content__main__label__img" src="../../../assets/icon-cooling.svg"
            alt="cooling" />
          <p class="mid-section__content__main__label__p">1</p>
        </div>
        <div class="automation-boxes-card-label d-flex justify-content-center align-items-center">
          <img class="mid-section__content__main__label__img" src="../../../assets/icon-lighting.svg"
            alt="lightning" />
          <p class="mid-section__content__main__label__p">1</p>
        </div>
        <div class="automation-boxes-card-label d-flex justify-content-center align-items-center">
          <img class="mid-section__content__main__label__img" src="../../../assets/icon-humidifier.svg"
            alt="humidifier" />
          <p class="mid-section__content__main__label__p">1</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End AP cards -->
</div>
<!-- End AP Group -->
