<!-- Gateway Group -->
<div class="group-card">
  <!-- Gateway Group Card Header -->
  <div class="group-card-header d-flex justify-content-between">
    <!-- Gateway Name -->
    <div class="d-flex">
      <div class="collapse-icon">
        <img src="../../assets/Collapse.svg" alt="" />
      </div>
      <div class="group-name d-flex">
        <p>Gateways</p>
      </div>
    </div>
    <!-- End Gateway Name -->
  </div>
  <!-- End Gateway Group Card Header -->
  <!-- Device Gateway Cards -->
  <div class="cards-container d-flex">
    <!-- Device Sensor card -->
    <div class="device-gateway-card col-4">
      <div class="d-flex flex-row align-items-start">
        <div class="device-details d-flex flex-column">
          <span class="gateway-name">Gateway name</span>
        </div>
      </div>
      <!-- Settings Icon -->
      <div class="settings-icon">
        <button
          class="dropdown-btn dropdown-toggle dropdown-toggle-split"
          type="button"
          id="settings-menu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-offset="-170,0"
        >
          <img src="../../../assets/icon-gear.svg" alt="Settings" />
        </button>
        <ul
          class="dropdown-menu dropdown-menu-start"
          aria-labelledby="settings-menu"
        >
          <li><a class="dropdown-item" href="#">One</a></li>
          <li><a class="dropdown-item" href="#">Two</a></li>
        </ul>
      </div>
      <!-- End Settings Icon -->
    </div>
    <!-- End Device Sensor card -->
  </div>
  <!-- End Device Sensor cards -->
</div>
<!-- End Gateway Group -->
