<!-- Group Card -->
<div class="group-card">
  <!-- Group Card Header -->
  <div class="group-card-header d-flex justify-content-between">
    <!-- Device Name -->
    <div class="d-flex">
      <button class="button-nostyle arrow-icon">
        <img src="../../../assets/Collapse.svg" alt="" />
      </button>
      <div class="group-name d-flex">
        <p>Sensors</p>
      </div>
    </div>
    <!-- End Group Name -->
  </div>
  <!-- End Group Card Header -->
  <!-- Device Sensor Cards -->
  <div class="cards-container device-sensor-cards-container d-flex flex-wrap">
    <!-- Device Sensor card -->
    <div class="device-sensor-card col-4">
      <div class="d-flex flex-row align-items-start">
        <div class="device-thumbnail">
          <div class="">
            <img src="../../../assets/icon-fans-thumbnail.svg" alt="Fan" />
          </div>
        </div>
        <div class="device-details d-flex flex-column">
          <span class="device-name">Lettuce</span>
          <div class="device-subtitle">
            <span>Sensing</span>
          </div>
          <div class="device-senses-icons sensing-imgs d-flex">
            <img src="../../../assets/icon-sensor-temperature.svg" alt="" />
            <img src="../../../assets/icon-sensor-humidity.svg" alt="" />
            <img src="../../../assets/icon-sensor-light.svg" alt="" />
            <img src="../../../assets/icon-sensor-co2.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="card-tags d-flex">
        <span class="tag">Group</span>
        <span class="tag">Group</span>
        <span class="tag">Group</span>
        <span class="tag tags-overflow">+2</span>
      </div>
      <!-- Settings Icon -->
      <div class="settings-icon">
        <button
          class="dropdown-btn dropdown-toggle dropdown-toggle-split"
          type="button"
          id="settings-menu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-offset="-172,0"
        >
          <img src="../../../assets/icon-gear.svg" alt="Settings" />
        </button>
        <ul
          class="dropdown-menu dropdown-menu-start"
          aria-labelledby="settings-menu"
        >
          <li><a class="dropdown-item" href="#">One</a></li>
          <li><a class="dropdown-item" href="#">Two</a></li>
        </ul>
      </div>
      <!-- End Settings Icon -->
    </div>
    <!-- End Device Sensor card -->
  </div>
  <!-- End Device Sensor cards -->
</div>
<!-- End Group Card -->
