<nav class="navbar navbar-light bg-white px-0">

  <!-- left side -->
  <div class="navbar__left">
    <button class="humberger">
      <img src="../../../assets/Burger.svg" alt="burger" />
    </button>
    <a href="/" class="navbar-brand">
      <img src="../../../assets/logo.png" alt="logo"
    /></a>
  </div>
  <!-- right side -->
  <div>
    <div class="navbar__right d-flex align-items-center">
      <div class="d-flex justify-content-between navbar__device">
        <img
          class="pe-1"
          src="../../../assets/icon-wireless.svg"
          alt="wireless"
        />
        <a href="#" class="m-0 ps-1 link_no_decoration">Add Device</a>
      </div>
      <button class="navbar__device">
        <img src="../../../assets/Notifications.png" alt="notification" />
      </button>
      <img
        class="user-image"
        src="../../../assets/User Button.png"
        alt="user"
      />
    </div>
  
  
  
  
  </div>

</nav>
