<nav class="navbar navbar-light bg-white p-0">
  <!-- left side -->
  <div class="navbar__left">
    <button class="humberger">
      <img src="../../../assets/Burger.svg" alt="burger" />
    </button>
    <a href="/" class="navbar-brand">
      <img src="../../../assets/imgs/logo.png" alt="logo" />
    </a>
  </div>
  <!-- right side -->
  <div>
    <div class="navbar__right d-flex align-items-center">
      <div class="d-flex justify-content-between navbar__device">
        <button
          type="button"
          class="btn btn-outline-primary navbar__device__btn"
        >
          <img src="../../../assets/icon-wireless.svg" alt="wireless" />
          Add Device
        </button>
      </div>
      <button class="navbar__device">
        <img src="../../../assets/imgs/Notifications.png" alt="notification" />
      </button>
      <img
        class="user-image"
        src="../../../assets/imgs/User Button.png"
        alt="user"
      />
    </div>
  </div>
</nav>
