<!-- Add Scene Modal -->
<div class="modal fade modal-default scene-modal" id="new-scene" tabindex="-1" aria-labelledby="new-scene"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label">New scene</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="groups">Group</label>
          <input type="text" class="form-control" id="groups">
        </div>
        <div class="form-group">
          <label>Scene type</label>
          <div class="our-custom-select-wrapper">
            <div class="our-custom-select">
              <div class="our-custom-select__trigger">
                <span></span>
                <div class="arrow">
                  <img src="../../../assets/arrow.svg" alt="" />
                </div>
              </div>
              <div class="custom-options">
                <span class="custom-option selected" data-value="1">Heating scene</span>
                <span class="custom-option" data-value="2">Cooling scene</span>
                <span class="custom-option" data-value="3">Humidifier scene</span>
                <span class="custom-option" data-value="4">Shade scene</span>
                <span class="custom-option" data-value="5">CO<sub>2</sub> scene</span>
                <span class="custom-option" data-value="6">Auxiliary scene</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="scene-name">Scene name</label>
          <input type="text" class="form-control" id="scene-name">
        </div>
        <label class="m-0">Equipment states</label>
        <div class="equipment-states d-flex flex-column">
          <div class="equipment-state d-flex justify-content-between col-12 p-0">
            <div class="d-flex flex-column">
              <p class="state-name m-0">A/C</p>
              <p class="state-ap-name m-0">Automatin box name</p>
            </div>
            <div class="form-group d-flex g-10px">
              <div class="our-custom-select-wrapper">
                <div class="our-custom-select">
                  <div class="our-custom-select__trigger">
                    <span>Unchanged</span>
                    <div class="arrow">
                      <img src="../../../assets/arrow.svg" alt="" />
                    </div>
                  </div>
                  <div class="custom-options">
                    <span class="custom-option selected" data-value="1">Unchanged</span>
                    <span class="custom-option" data-value="2">On</span>
                    <span class="custom-option" data-value="3">Off</span>
                  </div>
                </div>
              </div>
              <button class="btn-nostyle p-0 m-0">
                <img class="p-0 m-0" src="../../../assets/icon-eye-hidden.svg" alt="Hide">
              </button>
            </div>
          </div>
          <div class="equipment-state d-flex justify-content-between col-12 p-0">
            <div class="d-flex flex-column">
              <p class="state-name m-0">A/C</p>
              <p class="state-ap-name m-0">Automatin box name</p>
            </div>
            <div class="form-group d-flex g-10px">
              <div class="our-custom-select-wrapper">
                <div class="our-custom-select">
                  <div class="our-custom-select__trigger">
                    <span>Unchanged</span>
                    <div class="arrow">
                      <img src="../../../assets/arrow.svg" alt="" />
                    </div>
                  </div>
                  <div class="custom-options">
                    <span class="custom-option selected" data-value="1">Unchanged</span>
                  </div>
                </div>
              </div>
              <button class="btn-nostyle p-0 m-0">
                <img class="p-0 m-0" src="../../../assets/icon-eye-hidden.svg" alt="Hide">
              </button>
            </div>
          </div>
          <div class="equipment-state d-flex justify-content-between align-items-center col-12 p-0">
            <div class="d-flex flex-column">
              <p class="state-name m-0">A/C</p>
              <p class="state-ap-name m-0">Automatin box name</p>
            </div>
            <div class="form-group d-flex g-10px">
              <div class="our-custom-select-wrapper">
                <div class="our-custom-select">
                  <div class="our-custom-select__trigger">
                    <span>Unchanged</span>
                    <div class="arrow">
                      <img src="../../../assets/arrow.svg" alt="" />
                    </div>
                  </div>
                  <div class="custom-options">
                    <span class="custom-option selected" data-value="1">Unchanged</span>
                  </div>
                </div>
              </div>
              <button class="btn-nostyle p-0 m-0">
                <img class="p-0 m-0" src="../../../assets/icon-eye-hidden.svg" alt="Hide">
              </button>
            </div>
          </div>
          <div class="equipment-state d-flex justify-content-between align-items-center col-12 p-0">
            <div class="d-flex flex-column">
              <p class="state-name m-0">A/C</p>
              <p class="state-ap-name m-0">Automatin box name</p>
            </div>
            <div class="form-group d-flex g-10px">
              <div class="our-custom-select-wrapper">
                <div class="our-custom-select">
                  <div class="our-custom-select__trigger">
                    <span>Unchanged</span>
                    <div class="arrow">
                      <img src="../../../assets/arrow.svg" alt="" />
                    </div>
                  </div>
                  <div class="custom-options">
                    <span class="custom-option selected" data-value="1">Unchanged</span>
                  </div>
                </div>
              </div>
              <button class="btn-nostyle p-0 m-0">
                <img class="p-0 m-0" src="../../../assets/icon-eye-hidden.svg" alt="Hide">
              </button>
            </div>
          </div>
          <div class="equipment-state d-flex justify-content-between align-items-center col-12 p-0">
            <div class="d-flex flex-column">
              <p class="state-name m-0">A/C</p>
              <p class="state-ap-name m-0">Automatin box name</p>
            </div>
            <div class="form-group d-flex g-10px">
              <div class="our-custom-select-wrapper">
                <div class="our-custom-select">
                  <div class="our-custom-select__trigger">
                    <span>Unchanged</span>
                    <div class="arrow">
                      <img src="../../../assets/arrow.svg" alt="" />
                    </div>
                  </div>
                  <div class="custom-options">
                    <span class="custom-option selected" data-value="1">Unchanged</span>
                  </div>
                </div>
              </div>
              <button class="btn-nostyle p-0 m-0">
                <img class="p-0 m-0" src="../../../assets/icon-eye-hidden.svg" alt="Hide">
              </button>
            </div>
          </div>
          <div class="equipment-state d-flex justify-content-between align-items-center col-12 p-0">
            <div class="d-flex flex-column">
              <p class="state-name m-0">A/C</p>
              <p class="state-ap-name m-0">Automatin box name</p>
            </div>
            <div class="form-group d-flex g-10px">
              <div class="our-custom-select-wrapper">
                <div class="our-custom-select">
                  <div class="our-custom-select__trigger">
                    <span>Unchanged</span>
                    <div class="arrow">
                      <img src="../../../assets/arrow.svg" alt="" />
                    </div>
                  </div>
                  <div class="custom-options">
                    <span class="custom-option selected" data-value="1">Unchanged</span>
                  </div>
                </div>
              </div>
              <button class="btn-nostyle p-0 m-0">
                <img class="p-0 m-0" src="../../../assets/icon-eye-hidden.svg" alt="Hide">
              </button>
            </div>
          </div>
        </div>
        <div class="hidden-equipment-states d-flex align-items-center">
          <img class="icon-sm" src="../../../assets/icon-eye-hidden.svg" alt="Hidden">
          <p class="mb-0">1 equipment hidden.</p>
          <a href="#">Show hidden</a>
        </div>
      </div>
      <div class="modal-footer d-flex">
        <button type="button" class="btn btn-text text-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- End Add Scene Modal -->