<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../sass/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="tags-input">
      <!-- serach -->
      <div class="tags-input__search">
        <input class="form-control search-input" type="text" placeholder="Search group..." />
      </div>
      <!-- checkboxes -->
      <div class="tags-input__checkboxes">
        <!-- checkbox a -->
        <div class="d-flex align-items-center">
          <input type="checkbox" name="" id="greenhousea" />
          <label for="greenhousea">Green House A</label>
        </div>
        <!-- checkbox b -->
        <div class="d-flex align-items-center">
          <input type="checkbox" name="" id="greenhouseb" />
          <label for="greenhouseb">Green House B</label>
        </div>
      </div>
      <!-- buttons -->
      <div class="tags-input__buttons input">
        <div class="tags-input__buttons__button">
          <button class="button-nostyle">Create group</button>
        </div>
        <div class="tags-input__buttons__button">
          <button class="button-nostyle">Manage groups</button>
        </div>
      </div>
    </div>
  </body>
</html>
