<!-- Settings Header -->
<div class="settings-header">
  <div class="d-flex justify-content-between align-items-start settings-title">
    <div class="d-flex">
      <!-- Back Link -->
      <a href="#">
        <img class="back-arrow" src="../../../assets/icon-back-arrow.svg" alt="Back">
      </a>
      <!-- End Back Link -->
      <!-- Thumbnail -->
      <div class="header-thumbnail">
        <div class="device-thumbnail device-thumbnail--settings">
          <div>
            <img src="../../../assets/icon-fans.svg" alt="" />
            <div class="add-photo-btn">
              <button class="button-nostyle d-flex justify-content-center align-items-center">
                <img src="../../../assets/Add photo btn.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Thumbnail -->
      <div class="d-flex flex-column">
        <div class="d-flex">
          <span class="title">
            Lettuce
            <span class="label d-inline-flex align-items-center">
              <span class="device-subtitle">Automation box A</span>
            </span>
          </span>
        </div>
        <div class="d-flex align-items-center">
          <div class="card-tags">
            <div class="tag dark-tag">
              GreenHouse A
              <img class="close-icon" src="../../../assets/icon-close.svg" alt="remove">
            </div>
          </div>
          <div class="add-btn">
            <button class="btn">
              <img src="../../../assets/icon-add.svg" alt="Add">
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn gear-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <img src="../../../assets/icon-gear-blue.svg" alt="Settings">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <!-- Tabs Bar -->
  <nav class="navbar navbar-expand-lg settings-tabs-nav">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Alarms</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Tabs Bar -->
</div>
<!-- End Settings Header -->