<div class="side-bar">
  <ul class="side-bar__items px-4">
    <!-- add page-selected calss to the selected page-->
    <li class="d-flex align-items-center" id="home">
      <div class="page-selected__bar"> </div>
      <a href="#" class="sid-bar__links link_no_decoration d-flex align-items-center">
        <img src="../../../assets/icon-home.svg" alt="home" />
        <p class="m-0 d-inline sid-bar__text">Home</p>
      </a>
    </li>
    <li class="d-flex align-items-center" id="alarms">
      <div class="page-selected__bar"> </div>
      <a href="#" class="sid-bar__links link_no_decoration d-flex align-items-center">
        <img src="../../../assets/icon-alarms.svg" alt="alarms" />
        <p class="m-0 d-inline sid-bar__text">Alarms</p>
      </a>
    </li>
    <li class="d-flex align-items-center " id="equipments">
      <div class="page-selected__bar"> </div>
      <a href="#" class="sid-bar__links link_no_decoration d-flex align-items-center">
        <i><img src="../../../assets/icon-equipment.svg" alt="equipment" /></i>
        <p class="m-0 d-inline sid-bar__text">Equipment</p>
      </a>
    </li>
    <li class="d-flex align-items-center" id="scenes">
      <div class="page-selected__bar"> </div>
      <a href="#" class="sid-bar__links link_no_decoration d-flex align-items-center">
        <i><img src="../../../assets/icon-scenes.svg" alt="scenes" /></i>
        <p class="m-0 d-inline sid-bar__text">Scenes</p>
      </a>
    </li>
    <li class="d-flex align-items-center" id="routines">
      <div class="page-selected__bar"> </div>
      <a href="#" class="sid-bar__links link_no_decoration d-flex align-items-center">
        <i><img src="../../../assets/icon-routines.svg" alt="routines" /></i>
        <p class="m-0 d-inline sid-bar__text">Routines</p>
      </a>
    </li>
    <li class="d-flex align-items-center" id="devices">
      <div class="page-selected__bar"> </div>
      <a href="#" class="sid-bar__links link_no_decoration d-flex align-items-center">
        <i><img src="../../../assets/icon-devices.svg" alt="devices" /></i>
        <p class="m-0 d-inline sid-bar__text">Devices</p>
      </a>
    </li>
    <li class="d-flex align-items-center" id="settings">
      <div class="page-selected__bar"> </div>
      <a href="#" class="sid-bar__links link_no_decoration d-flex align-items-center">
        <i><img src="../../../assets/icon-settings.svg" alt="settings" /></i>
        <p class="m-0 d-inline sid-bar__text">Settings</p>
      </a>
    </li>
    <li class="d-flex align-items-center" id="help">
      <div class="page-selected__bar"> </div>
      <a href="#" class="sid-bar__links link_no_decoration d-flex align-items-center">
        <i><img src="../../../assets/icon-help.svg" alt="help" /></i>
        <p class="m-0 d-inline sid-bar__text">Help</p>
      </a>
    </li>
  </ul>
</div>