<!-- Group Card -->
<div class="group-card">
  <!-- Group Card Header -->
  <div class="group-card-header d-flex justify-content-between">
    <!-- Group Name -->
    <div class="d-flex">
      <div class="grap-icon">
        <img src="../assets/icon-grap.svg" alt="Grap">
      </div>
      <div class="group-name d-flex">
        <p>
          Greenhouse A
        </p>
        <div>
          <button class="btn btn-light data-graphs-btn">
            <img src="../assets/icon-data-graph.svg" alt="Data Graphs">
            Data Graphs
          </button>
        </div>
      </div>
    </div>
    <!-- End Group Name -->
    <!-- Settings Icon -->
    <div class="settings-icon">
      <button class="dropdown-btn dropdown-toggle dropdown-toggle-split" type="button" id="settings-menu"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-172,0">
        <img src="../assets/icon-gear.svg" alt="Settings">
      </button>
      <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="settings-menu">
        <li><a class="dropdown-item" href="#">One</a></li>
        <li><a class="dropdown-item" href="#">Two</a></li>
      </ul>
    </div>
    <!-- End Settings Icon -->
  </div>
  <!-- End Group Card Header -->
  <!-- Cards Container -->
  <div class="cards-container sensor-cards-container d-flex flex-column">
    <!-- Sensor Card -->
    <div class="sensor-card d-flex align-items-center">
      <div class="grap-icon">
        <img src="../assets/icon-grap.svg" alt="Grap">
      </div>
      <div class="sensor-details d-flex flex-column align-items-start">
        <div>
          <span class="sensor-name">Lettuce</span>
          <span class="sensor-alarm-label">
            <img src="../assets/icon-label-ok.svg" alt="Grap">
          </span>
        </div>
        <div class="sensor-status-text">
          <span>Updated 24 minutes ago</span>
        </div>
      </div>
      <!-- Sensor Values -->
      <div class="sensor-values d-flex">
        <!-- Sensor -->
        <div class="sensor d-flex flex-column">
          <div class="sensor-current-value">
            <span class="sense-icon">
              <img src="../assets/icon-sensor-temperature.svg" alt="Temprature">
              <span>--</span>
              <span>°F</span>
            </span>
          </div>
          <span class="sensor-mm-lh d-flex">
            <div class="d-flex gap-1">
              Low
              <div class="d-flex value-measurement">
                <span>--</span>
                <span>°F</span>
              </div>
            </div>
            <div class="d-flex gap-1">
              High
              <div class="d-flex value-measurement">
                <span>--</span>
                <span>°F</span>
              </div>
            </div>
          </span>
        </div>
        <!-- End Sensor -->
        <!-- Sensor -->
        <div class="sensor d-flex flex-column">
          <div class="sensor-current-value">
            <span class="sense-icon">
              <img src="../assets/icon-sensor-humidity.svg" alt="Temprature">
              <span>--</span>
              <span>%</span>
            </span>
          </div>
          <span class="sensor-mm-lh d-flex">
            <div class="d-flex gap-1">
              Low
              <div class="d-flex value-measurement">
                <span>--</span>
                <span>%</span>
              </div>
            </div>
            <div class="d-flex gap-1">
              High
              <div class="d-flex value-measurement">
                <span>--</span>
                <span>%</span>
              </div>
            </div>
          </span>
        </div>
        <!-- End Sensor -->
        <!-- Sensor -->
        <div class="sensor d-flex flex-column">
          <div class="sensor-current-value">
            <span class="sense-icon">
              <img src="../assets/icon-sensor-light.svg" alt="Temprature">
              <span>--</span>
              <span>Lux</span>
            </span>
          </div>
          <span class="sensor-mm-lh d-flex">
            <div class="d-flex gap-1">
              Low
              <div class="d-flex value-measurement">
                <span>--</span>
                <span>Lux</span>
              </div>
            </div>
            <div class="d-flex gap-1">
              High
              <div class="d-flex value-measurement">
                <span>--</span>
                <span>Lux</span>
              </div>
            </div>
          </span>
        </div>
        <!-- End Sensor -->
        <!-- Sensor -->
        <div class="sensor d-flex flex-column">
          <div class="sensor-current-value">
            <span class="sense-icon">
              <img src="../assets/icon-sensor-co2.svg" alt="Temprature">
              <span>--</span>
              <span>ppm</span>
            </span>
          </div>
          <span class="sensor-mm-lh d-flex">
            <div class="d-flex gap-1">
              Low
              <div class="d-flex value-measurement">
                <span>--</span>
                <span>ppm</span>
              </div>
            </div>
            <div class="d-flex gap-1">
              High
              <div class="d-flex value-measurement">
                <span>--</span>
                <span>ppm</span>
              </div>
            </div>
          </span>
        </div>
        <!-- End Sensor -->
      </div>
      <!-- End Sensors Values -->
      <!-- Settings Icon -->
      <div class="settings-icon">
        <button class="dropdown-btn dropdown-toggle dropdown-toggle-split" type="button" id="settings-menu"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-172,0">
          <img src="../assets/icon-gear.svg" alt="Settings">
        </button>
        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="settings-menu">
          <li><a class="dropdown-item" href="#">One</a></li>
          <li><a class="dropdown-item" href="#">Two</a></li>
        </ul>
      </div>
      <!-- End Settings Icon -->
    </div>
    <!-- End Sensor Card -->
  </div>
  <!-- End Cards Rows -->
</div>
<!-- End Group Card -->