<!-- Group Card -->
<div class="group-card">
  <!-- Group Card Header -->
  <div class="group-card-header d-flex justify-content-between">
    <!-- Device Name -->
    <div class="d-flex">
      <a class="collapse-icon">
        <img src="../assets/icon-collapse.svg" alt="Collapse">
      </a>
      <div class="group-name d-flex">
        <p>
          Sensors
        </p>
      </div>
    </div>
    <!-- End Group Name -->
  </div>
  <!-- End Group Card Header -->
  <!-- Device Sensor Cards -->
  <div class="cards-container device-sensor-cards-container d-flex flex-wrap">
    <!-- Device Sensor card -->
    <div class="device-sensor-card col-4">
      <div class="d-flex flex-row align-items-start">
        <div class="device-thumbnail">
          <img src="../assets/device-thumbnail.svg" alt="Device Thumbnail">
        </div>
        <div class="device-details d-flex flex-column">
          <span class="device-name">Lettuce</span>
          <div class="device-subtitle">
            <span>Sensing</span>
          </div>
          <div class="device-senses-icons">
            <img src="../assets/device-senses-icons.svg" alt="Device Senses">
          </div>
        </div>
      </div>
      <div class="card-tags d-flex">
        <span class="tag">Group</span>
        <span class="tag">Group</span>
        <span class="tag">Group</span>
        <span class="tag tags-overflow">+2</span>
      </div>
      <!-- Settings Icon -->
      <div class="settings-icon">
        <button class="dropdown-btn dropdown-toggle dropdown-toggle-split" type="button" id="settings-menu"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-172,0">
          <img src="../assets/icon-gear.svg" alt="Settings">
        </button>
        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="settings-menu">
          <li><a class="dropdown-item" href="#">One</a></li>
          <li><a class="dropdown-item" href="#">Two</a></li>
        </ul>
      </div>
      <!-- End Settings Icon -->

    </div>
    <!-- End Device Sensor card -->
  </div>
  <!-- End Device Sensor cards -->
</div>
<!-- End Group Card -->
