<!-- Navbar -->
<nav
  class="main-navbar navbar navbar-light bg-white p-0 elevated-xs d-flex justify-content-between col-12 col-lg-10 col-xl-10">
  <!-- left side -->
  <div class="navbar__left">
    <button class="humberger">
      <img src="../assets/Burger.svg" alt="burger" />
    </button>
    <a href="/" class="navbar-brand">
      <img class="d-none d-sm-inline-block" src="../assets/imgs/logo.png" alt="Ensora" />
      <img class="d-inline-block d-sm-none " src="../assets/imgs/logo-sm.svg" alt="Ensora" />
    </a>
  </div>
  <!-- right side -->
  <div>
    <div class="navbar__right d-flex align-items-center">
      <div class="d-flex justify-content-between navbar__device">
        <button type="button" class="btn btn-outline-primary add-device-btn">
          <img src="../assets/icon-wireless.svg" alt="wireless" />
          Add Device
        </button>
      </div>
      <button class="navbar__device">
        <img src="../assets/imgs/Notifications.png" alt="notification" />
      </button>
      <img class="user-image" src="../assets/imgs/User Button.png" alt="user" />
    </div>
  </div>
</nav>
<!-- End Navbar -->