.mm-lh {
  margin-right: 30px;

  .mm-lh-switch {
    border-radius: 5px;
    border: 1px solid $N300;
    margin-right: 7px;

    button {
      width: auto;
    }
  }
  .mm-lh-switch button {
    @extend .button-label;
    color: $N500;
    padding: 8px 15px;
  }
  .mm-lh-switch button:hover,
  .mm-lh-switch button:focus {
    color: $N500;
    box-shadow: none;
  }
  .mm-lh-switch button:active,
  .switch-active {
    background-color: $N000;
    outline: 0 !important;
    color: $B700 !important;
    border-right: 1px solid $N300 !important;
    border-left: 1px solid $N300 !important;
    border-radius: 5px !important;
    z-index: 2;
    box-shadow: 0px 1px 1px 0px rgba(6, 43, 69, 0.05) !important;
  }
}
