.secondary-button {
  @include button($N300, $B700, 12px, 8px);
  border: none;
  @extend .button-label;
}
.secondary-button-icon {
  @extend .secondary-button;
  img {
    vertical-align: middle;
  }
  span {
    @extend .button-label;
    vertical-align: middle;
    margin-left: 8px;
  }
}
