body {
  @extend .body;
  font-family: $font-stack;
  min-height: 100vh;
  margin: 0;
  // could be a solution to bigger pages
  // max-width: 1440px;
  // margin: auto;
}

#side-bar-container {
  flex: 0 0 17.362%;
  max-width: 17.362%;
}

// Override Bootstrap Defaults
.form-container {
  .form-group {
    margin-bottom: 20px;
  }
  .form-group:last-of-type {
    margin-bottom: 0;
  }
}
label {
  @extend .label;
  color: $N600;
  margin-bottom: 2px;
}
.radio-label {
  @extend .label;
  margin-bottom: 8px;
}
input,
select,
textarea {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  padding: 8px 14px;
  color: $B700 !important;

  &::placeholder {
    color: $N500 !important;
  }
}
input[type="checkbox"] {
  outline: 2px solid $N300;
  outline-style: auto;
}
// remove outline in firefox only
@-moz-document url-prefix() {
  input[type="checkbox"] {
    outline-style: none;
  }
}
input[type="checkbox"]:checked {
  outline-style: none;
}
.form-control {
  border: 2px solid $N300 !important;

  &:focus,
  input:focus {
    border-color: #86b7fe !important;
  }
}
.form-check {
  .form-check-input {
    margin-right: 8px;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    border: 2px solid $N300;
  }
}
textarea {
  padding: 8px 14px !important;
}
.btn-nostyle {
  border: none !important;
  background-color: transparent !important;
  display: flex;
  align-items: center;
  img {
    margin-right: 6px;
  }
  .icon-mt {
    position: relative;
    margin-top: 7px;
  }
}
.btn {
  @extend .button-label;
  padding: 8px 12px;
}
.btn-primary {
  background-color: $B300;
}
.btn-secondary {
  background-color: $N300;
  color: $B700;
  border-color: $N300;
}
.btn-outline-primary {
  color: $B300;
  outline: none;
  border: none;

  &:focus,
  &:hover {
    color: $B300 !important;
    background: transparent !important;
    box-shadow: none;
  }
  img {
    margin-top: -1.9px !important;
    margin-right: 5px !important;
  }
}
.btn-primary[disabled] {
  pointer-events: none;
  border: none;
  background-color: $N200;
  color: $N400;
}
.btn-light {
  border: 2px solid $N300;
  border-radius: 5px;
  background: white;
}
.btn-icon-sm {
  @extend .flex-center;
  width: 28px;
  height: 28px;
}
.btn-height {
  height: 36px;
}
.gear-button {
  padding: 8px !important;
}
.icon-sm {
  width: 16px;
  height: 16px;
}
.icon-light {
  opacity: 0.3;
}
.switch-input {
  margin-bottom: 4px !important;
}
.invalid-feedback {
  display: flex !important;
  align-items: baseline;

  img {
    margin-right: 5px !important;
    top: 5px;
    position: relative;
  }
}

// Gaps
.g-8px {
  gap: 8px;
}
.g-10px {
  gap: 10px;
}
.g-20px {
  gap: 20px;
}
// Paddings
.p-20-40 {
  padding: 20px 40px;
}

// Margins
.mt-20px {
  margin-top: 20px;
}
.-mt-20px {
  margin-top: -20px;
}

.align-items-base-line {
  align-items: baseline;
}

.uppercase {
  text-transform: uppercase;
}

// Shadows
.shadow-sm {
  box-shadow: 0px 1px 1px rgba(6, 43, 69, 0.05) !important;
}
.shadow-md {
  box-shadow: 0px 2px 0px #dfe4eb !important;
}
// Colors
.text-primary {
  color: $B300 !important;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: $N300;
}

.cursor-pointer {
  cursor: pointer;
}

.close {
  font-weight: 400;
  font-size: 38px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Box shadows
.elevated-sm {
  box-shadow: 0px 1px 1px rgba(6, 43, 69, 0.05);
}
