$font-stack: 'Inter', sans-serif;

.display-xlarge {
  font-size: 42px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.02em;
}
.display-large {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
}
.display-medium {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
}
.display-small,
.display-small--link {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.subheading,
.label--allcaps,
.small--uppercase {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.body {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.button-label,
.body--bold,
.input--bold {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.small {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}
.caption {
  font-size: 11px;
  line-height: 18px;
}
.body--bigger {
  font-size: 16px;
  font-weight: 400;
}
.input,
.body--link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.small--regular {
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}
.tag-label {
  font-size: 12px;
  font-weight: 400;
}
