.icon-sm {
  width: 16px;
  height: 16px;
}
.icon-light {
  opacity: 0.3;
}
.switch-input {
  margin-bottom: 4px !important;
}
.invalid-feedback {
  display: flex !important;
  align-items: baseline;
  margin-bottom: -8px !important;
  @extend .caption;
  img {
    margin-right: 5px !important;
    top: 5px;
    position: relative;
  }
}

// Gaps
.g-8px {
  gap: 8px;
}
.g-10px {
  gap: 10px;
}
.g-20px {
  gap: 20px;
}
// Paddings
.p-20-40 {
  padding: 20px 40px;
}

// Margins
.mt-20px {
  margin-top: 20px;
}
.-mt-20px {
  margin-top: -20px;
}

.align-items-base-line {
  align-items: baseline;
}

.uppercase {
  text-transform: uppercase;
}

// Shadows
.shadow-sm {
  box-shadow: 0px 1px 1px rgba(6, 43, 69, 0.05) !important;
}
.shadow-md {
  box-shadow: 0px 2px 0px #dfe4eb !important;
}
// Colors
.text-primary {
  color: $B300 !important;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: $N300;
}

.cursor-pointer {
  cursor: pointer;
}

.close {
  font-weight: 400;
  font-size: 38px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Box shadows
.elevated-sm {
  box-shadow: 0px 1px 1px rgba(6, 43, 69, 0.05);
}

.fa-signal--b200 {
  color: $B200;
}
