:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
}
body {
  width: 100%;
  height: 100vh;
  font-family: Inter;
  font-size: 14px;
}
.add-device-model {
  max-width: 560px;
  height: 547px;
  border-radius: 5px;
  position: relative;
  line-height: 22px;
  color: var(--darken-blue);
  /* Remove Later */
  margin: 50px auto;
}
.add-device-model * {
  /* box-sizing: border-box; */
  margin: 0;
  /* border: 1px solid; */
}
.add-device-model__close-button {
  position: absolute;
  top: 28px;
  right: 30px;
}
.add-device-model__content {
  width: 100%;
  padding: 0 40px;
}
.add-device-model__title {
  margin-top: 42px;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 36px;
}
.add-device-model__subtitle {
  height: 22px;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
}
.add-device-model__qrcode_button {
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  font-weight: 600;
  margin-top: 60px;
  border-radius: 5px;
  background-color: #dfe4eb;
}
.add-device-model__or {
  margin-top: 19px;
  font-size: 14px;
  color: var(--darken-blue);
}
.add-device-model__form {
  margin-top: 7px;
}
.add-device-model__form div label {
  margin-bottom: 2px;
  font-weight: 600;
  color: #687d8f;
}
.add-device-model__options {
  padding: 0 40px;
  margin: auto 2px 0 0;
}
.add-device-model__options .option {
  width: 75px;
  height: 62px;
  border-radius: 8px;
  margin-left: 21px;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  background-color: #9da9b5;
  color: white;
}
.add-device-model__footer {
  height: 81px;
  margin: 0;
  border-width: 1px;
  border-color: #dfe4eb;
}
.add-device-model__footer > * {
  margin-top: 23px;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 600;
}
.add-device-model__footer .continue-button {
  background-color: var(--light-blue);
  color: white;
  margin-right: 40px;
}
.add-device-model__footer .cancel-button {
  width: 48px;
  height: 20px;
  margin: 8px auto 2px auto;
  color: var(--light-blue);
  margin-right: 24px;
  text-decoration: none;
}
