:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
}
body {
  height: 100vh;
  width: 100%;
  border: 1px solid #dfe4eb; /* Remove later */
  border-radius: 5px;
}
.add-device {
  margin: 0 auto;
  max-width: 560px;
  height: 547px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: var(--darken-blue) !important;
}
.add-device > * {
  width: 480px;
  margin: auto 40px 0 40px;
  font-weight: 600 !important;
}
.add-device__close-button {
  width: 1em;
  position: absolute;
  margin: 28px 30px 0 0 !important;
}
.add-device__title {
  height: 36px;
  position: relative;
  margin-top: 42px;
  font-weight: 600;
  font-size: 26px;
}
.add-device__subtitle {
  height: 22px;
  margin-top: 12px;
  font-weight: 400 !important;
  font-size: 14px;
}
.add-device__qrcode_button {
  height: 36px;
  margin-top: 60px;
  border-radius: 5px;
  background-color: #dfe4eb !important;
  border: 2px solid #dfe4eb;
}
.add-device__or {
  margin-top: 19px;
  text-align: center;
  color: var(--darken-blue);
  font-size: 14px;
}
.add-device__form {
  margin-top: 7px;
  margin-bottom: auto !important;
}
.add-device__form div label {
  width: 480px !important;
  color: #687d8f !important;
  margin-bottom: 2px !important;
}
.add-device__options {
  margin-right: 42px !important;
}
.add-device__options .option {
  width: 75px;
  height: 62px;
  border-radius: 8px;
  margin-left: 21px;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  background-color: #9da9b5;
  color: white;
}
.add-device__footer {
  width: 100% !important;
  height: 82px;
  margin: 0 !important;
  border-width: 1px;
  border-color: #dfe4eb;
}
.add-device__footer > * {
  margin-top: 23px;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 600;
}
.add-device__footer .continue-button {
  background-color: var(--light-blue);
  color: white;
  margin-right: 40px;
}
.add-device__footer .cancel-button {
  width: 48px;
  height: 20px;
  position: relative;
  top: 8px;
  left: 2px;
  color: var(--light-blue);
  margin-right: 24px;
  text-decoration: none;
}
