.main-content {
  padding: 20px 40px;
}

.main-content__header {
  display: flex;
  align-items: center;
  min-height: 36px;

  h2 {
    @extend .display-medium;
    color: $B700;
    margin-right: 10px;
    margin-bottom: 0;
  }
  img {
    width: 16px;
    height: 16px;
  }
}
.main-content__body {
  margin-top: 36px;
  color: $N600;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  h3 {
    @extend .display-small;
    margin-bottom: 12px;
  }
  p {
    @extend .body;
    margin-bottom: 12px;
  }
}

.activity-checkbox {
  margin-left: 6px;
  margin-bottom: 0;
  color: $B700;
}

.dropdown-alarms {
  @extend .dropdown;
  max-width: 200px;
  margin: 0 !important;
  margin-right: 10px !important;
}

.alarms-table {
  margin: 6px 0 0 !important;
  text-align: start;
  border-collapse: separate;
  border-spacing: 0 5px;
  color: $B700;

  th {
    background-color: $N200;
    height: 46px;
    padding: 12px 0;
  }
  th:first-child {
    padding-left: 20px;
  }
  td {
    height: 54px;
    padding: 16px 0;
  }
  td:first-child {
    padding-left: 20px;
  }
  tr {
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(6, 43, 69, 0.05);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(6, 43, 69, 0.05);
    -moz-box-shadow: 0px 1px 1px 0px rgba(6, 43, 69, 0.05);
  }

  .tr--error {
    background-color: rgba($color: #ec6060, $alpha: 0.1);
    .tr--error__td {
      color: $R300;
      padding-left: 0;
      i {
        padding: 10px;
      }
    }
  }
  td:nth-child(2) {
    color: $B300;
  }

  td,
  th {
    border: solid 1px $N300;
    border-style: solid none;
  }
  thead {
    th {
      border: none !important;
      box-shadow: none !important;
      border: none !important;
      color: $N600;
    }
  }
  td:first-child,
  th:first-child {
    border-left-style: solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  td:last-child,
  th:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}
