.main-page {
  background-color: #f9fafc;
  min-height: 100vh;
  flex: 0 0 82.638%;
  max-width: 82.638%;
}

.main-content {
  padding: 20px 40px 40px 40px;
  .main-content__empty {
    margin-top: 24px;
    #title {
      @extend .display-small;
      margin-bottom: 12px;
    }
    #body {
      font-size: 14px;
      margin-bottom: 12px;
    }
  }
}

.main-content__header {
  h2 {
    color: $B700;
    @extend .display-medium;
  }
  span {
    color: $B700;
    @extend .display-medium;
  }
  .header-icon {
    display: flex;
    justify-content: center;

    img {
      margin-left: 10px;
      height: 16px;
      width: 16px;
    }
    .back-button {
      margin-right: 13px;
      
      img {
        margin-left: 0;
        width: 36px;
        height: 36px;
      }
    }
  }
  button {
    width: auto !important;
  }
}

.main-content__header__icon {
  margin-left: 10px;
  height: 16px;
  width: 16px;
}

.mid-section {
  margin-top: 20px;
  color: $N600;
}

.mid-section__header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.mid-section__paragraph {
  font-size: 14px;
  margin-bottom: 12px;
}
