.onboard-container__onboard {
  margin-top: 78px;
  width: 450px;
  color: $B700;

  .onboard-container__onboard__title {
    @extend .display-large;
    margin: 96px 0 10px;
  }
  .onboard-container__onboard__subtitle {
    margin-bottom: 36px;
    @extend .body;
  }
  .onboard-container__onboard .form-group label {
    color: #687d8f;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
  }

  .onboard-container__onboard__button {
    margin: 42px 0 24px;
  }

  .onboard-container__onboard__back__button {
    @extend .body--bold;
    margin: 0;
    color: $N500;
    background-color: transparent;
    border: none;
    padding-bottom: 20px;
  }
  .onboard-container__observe {
    @extend .label;
    color: $N600;
    margin-bottom: 8px;
  }
  .onboard-container__onboard_payment-cards {
    margin-bottom: 20px;

    img {
      margin-right: 10px;
    }
  }
  .onboard-container__selected-plan-card {
    padding: 17px 27px 14px 24px;
    border-radius: 10px;
    background-color: $B100;

    .plan-name {
      @extend .heading;
      color: $B700;
      margin-bottom: 5px;
    }
    .plan-price {
      @extend .body;
      color: $N700;
    }
    .change-plan {
      border: 0;
      background-color: transparent;
      color: $B300;
    }
  }
  .onboarding-complete-special {
    margin-top: 0 !important;
  }
}

#selector {
  padding-top: 80px;
  min-width: 450px;
}

option {
  font-size: 14px !important;
  color: $B700;
}
.special-radio {
  margin-right: 40px;
}
.special-lable {
  margin-right: 40px;
}

/* Custom Checkbox */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;

  border-radius: 15px;
  border: 1px solid #dfe4eb;
}

/* On mouse-over, add a grey background color */
/* .checkbox-container:hover input ~ .checkmark {
  background-color: #e6107b;
} */

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: $B300;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
/* Custom Checkbox */
/* Trying input field */
#selector select option {
  color: #333;
  position: relative;
  top: 5px;
}

/*==================================================
  remove the original arrow in select option dropdown
  ==================================================*/

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  display: block;
  width: 100%;
  border: 2px solid #dfe4eb !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 5px !important;
}

/* select.input-lg {
  height: 50px !important;
  line-height: 25px !important;
} */

select + i.fas {
  float: right;
  margin-top: -25px;
  margin-right: 9px;
  color: rgba(157, 169, 181, 1);
  pointer-events: none;
  background-color: #fff;
  padding-right: 5px;
  font-size: 16px;
}
/* Trying input field */
