.setup-wizard-modal {
  .switch-container {
    width: 105%;
    margin-bottom: 10px !important;

    label {
      margin-left: 8px;
      font-weight: 400 !important;
      line-height: 20px;
      color: $B700 !important;
    }
  }
  .calibration-btns {
    padding: 10px 0;
    gap: 12px;

    button {
      border: 2px solid $N300;
    }
  }
  .calibration-footer {
    margin-left: calc(20px + 33.333333% + 8px);
  }
  .loader {
    margin-bottom: 10px !important;
  }
  .search-sensor {
    color: $B700;
    .dropdown {
      button {
        @extend .input;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 14px;

        &:active {
          color: $B700;
          background-color: transparent;
        }
      }
      .dropdown-menu {
        margin-top: 8px;
        border: 1px solid $N300;
        border-radius: 5px;
      }
    }
    .form-group {
      margin: 0;
      padding: 10px 15px;
    }
    .title {
      @extend .label;
      padding: 9px 15px;
      color: $N600;
      background-color: $N200;
    }
    .btn {
      background-color: transparent;
      color: $B700;
    }
    button, .dropdown-menu {
      width: 308px;
    }
  }
}