/* Variables */
:root {
  --light-blue: #0e76bc;
  --dark-blue: #062b45;
  --light-gray: #F9FAFC;
  --dark-gray: #9DA9B5;
}

/* General */
body {
  width: 100%;
  height: 100vh;
  font-family: Inter;
  font-size: 14px;
}
.setup-wizard-modal {
  max-width: 560px;
  height: 547px;
  border-radius: 5px;
  position: relative;
  line-height: 22px;
  color: var(--dark-blue);
  /* Remove Later */
  margin: 50px auto;
}
.setup-wizard-modal * {
  margin: 0;
}
.setup-wizard-modal__close-button {
  position: absolute;
  top: 28px;
  right: 30px;
}
.setup-wizard-modal__content {
  width: 100%;
  padding: 0 40px;
}
.setup-wizard-modal__title {
  margin-top: 42px;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 36px;
}
.setup-wizard-modal__subtitle {
  height: 22px;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
}
.setup-wizard-modal__form {
  margin-top: 59px;
}
.setup-wizard-modal__form div {
  margin-top: 20px;
}
.setup-wizard-modal form input {
  border: 2px solid #DFE4EB;
}
.sensor-model form ::placeholder {
  color: var(--dark-gray);
}
.setup-wizard-modal__form div label {
  margin-bottom: 2px;
  font-weight: 600;
  color: #687d8f;
}
.setup-wizard-modal__footer {
  height: 81px;
  margin: 0;
  border-width: 1px solid #dfe4eb;
}
.setup-wizard-modal__footer > * {
  margin-top: 23px;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 600;
}
.setup-wizard-modal__footer button {
  background-color: var(--light-blue);
  color: white !important;
  margin-right: 40px;
}
.setup-wizard-modal__footer a {
  margin: 8px 2px;
  color: var(--light-blue);
  margin-right: 24px;
  text-decoration: none;
}

/* Confirmation */
.setup-wizard-modal__success_icon {
  margin-top: 118px;
}
.setup-wizard-modal__confirmation-title {
  margin-top: 32px;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 36px;
}
.setup-wizard-modal__confirmation-subtitle {
  margin-top: 12px;
}

/* Registering Loader */
.registering {
  max-width: 560px;
  height: 547px;
  border-radius: 5px;
  margin: 50px auto;
}
.registering .loaders {
  gap: 18px;
}
.registering .spinner-grow {
  background: #DFE4EB;
}
.registering .spinner-grow:nth-child(1) {
  width: 30px;
  height: 30px;
}
.registering .spinner-grow:nth-child(2) {
  width: 22px;
  height: 22px;
}
.registering .spinner-grow:nth-child(3) {
  width: 14px;
  height: 14px;
}
.registering .loading-text {
  margin-top: 22px;
}

/* Common */
#device-id, #install-data {
  background: var(--light-gray);
}

/* Add Device index */
.setup-wizard-modal__qrcode_button {
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  font-weight: 600;
  margin-top: 60px;
  border-radius: 5px;
  background-color: #dfe4eb;
}
.setup-wizard-modal__or {
  margin-top: 19px;
  font-size: 14px;
  color: var(--darken-blue);
}
.setup-wizard-modal__options {
  position: absolute;
  bottom: 82px;
  right: 0;
  padding: 0 40px;
  margin: auto 2px 0 0;
}
.setup-wizard-modal__options .option {
  width: 75px;
  height: 62px;
  border-radius: 8px;
  margin-left: 21px;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  background-color: #9da9b5;
  color: white;
}

/* Sensor */
.setup-wizard-modal__sensor-details div {
  height: 48px;
  margin: 0;
}
.setup-wizard-modal__sensor-details p {
  font-weight: 600;
  color: #687D8F;
}
.setup-wizard-modal__sensor-details div p:nth-child(2) {
  margin-top: 6px;
}
.setup-wizard-modal__sensor-details .sensing-imgs svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.signal-strength {
  color: #062B45;
  margin-left: 8px;
}
.setup-wizard-modal__sensor-details div:nth-child(2) {
  margin-left: 51px;
}
.setup-wizard-modal__show-min-max span{
  margin-right: 8px;
  color: #0E76BC;
  text-decoration: underline;
}
/* Sensor Min*Max */
.setup-wizard-modal__show-min-max span{
  margin-right: 8px;
  color: #0E76BC;
  text-decoration: underline;
  cursor: pointer;
}
.min-max-btn-active{
  color: #687D8F !important;
  font-weight: 600;
  text-decoration: none !important;
  cursor: text;
}
.setup-wizard-modal__min-max-options {
  margin-top: 0 !important;
}
.min-max-option {
  margin-top: 0 !important;
  height: 57px;
  width: 100%;
}
.min-max-option:nth-child(n+2) {
  border-top: 1.5px solid #DFE4EB;
}
.min-max-option span:nth-child(1) {
  justify-self: start;
  margin-left: 20px;
}
.min-max-option span:nth-child(2) {
  justify-self: end;
  column-gap: 20px;
}
.min-max-option span:nth-child(2) div {
  margin-top: 0 !important;
}
.min-max-option span input {
  font-size: 14px;
}