.main-navbar {
  width: 100%;
  height: 60px;
  padding: 10px;
  position: fixed;
  z-index: 9999999;
  top: 0;

  .navbar-brand img {
    max-height: 40px;
  }

  .navbar__right {
    font-weight: 600;
    padding-right: 32px;
    gap: 18px;

    .add-device-btn {
      margin-right: -8px;
    }
  }
  .navbar__left {
    padding-left: 20px;
  }

  .navbar__device {
    padding: 0px;
    // margin-right: 18px;
    border: none;
    background: none;
  }

  .user-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .humberger {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    margin-right: 16px;
  }
}
