.navbar {
  height: 60px;
  box-shadow: 0px 2px 3px rgba(3, 22, 35, 0.05);

  .navbar-brand img {
    max-height: 40px;
  }

  .navbar__right {
    color: var(--light-blue);
    font-size: 14px;
    font-weight: 600;
    padding-right: 32px;
  }
  .navbar__left {
    padding-left: 20px;
  }

  .navbar__device {
    padding: 0px;
    margin-right: 18px;
    border: none;
    background: none;
    .navbar__device__btn {
      margin-right: -12px;
      img {
        margin-right: 8px !important;
      }
    }
  }

  .user-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .humberger {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    margin-right: 16px;
  }
}
