:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
  --light-grey: #687d8f;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}
.spotlight-modal {
  font-size: 14px !important;
  font-weight: 400 !important;
  position: absolute !important;
  width: 252px !important ;
  top: 0px !important;
  right: 300px !important;
  color: #062b45 !important;
}
.spotlight-button {
  text-align: right;
}
.spotlight-add {
  z-index: 10000;
}
.spotlight-button:hover {
  cursor: pointer;
  color: #2c6a96;
}
.walkthrough-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #031623;
  opacity: 0.6;
  z-index: 1;
}
.walkthrough-spotlight-modal {
  background-color: #fcb040 !important;
  width: 100%;
  height: 100%;
  padding: 12px 31px 20px 17px !important;
  border-radius: 3px;
}
.main-logo {
  padding-left: 20px;
  padding-right: 16px;
}

.side-bar {
  background-color: #031623;
  color: var(--light-grey);
  font-size: 14px;
}

.side-bar__items {
  list-style-type: none;
}

.main-page {
  background-color: #f9fafc;
}

.navbar {
  height: 60px;
  box-shadow: 1px 1px #dfe4eb;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar__right {
  color: var(--light-blue);
  font-size: 14px;
  font-weight: 600;
}
.right-side__container {
  padding-right: 32px;
}
.main-content {
  padding: 20px 40px 40px 40px;
}
.main-content__body {
  margin-top: 4em;
  color: #687d8f;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.main-content__body #btn {
  font-weight: 600;
  font-size: 14px;
  width: 131;
  height: 36px;
  padding: 8px 12px;
  border-radius: 5px;
  border-style: none;
  background-color: #dfe4eb;
  color: var(--darken-blue);
}
.add-device-container {
  margin-right: 18px;
  width: 132px;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.add-device-button {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.add-device-button:hover {
  cursor: pointer;
}
.ring-container {
  padding-right: 18px;
}
.add-device {
  padding-left: 8px;
}
.main-content__header {
  color: var(--darken-blue);
  font-size: 26px;
}
.btn-group {
  padding-right: 132px;
}
.btn-group button {
  /* border: 2px solid #dfe4eb; */
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(6, 43, 69, 0.05);
  color: var(--darken-blue) !important;
  font-weight: 600;
  line-height: 20px;
}
/* MODAL */
.modal {
  display: block !important;
  font-family: "Inter", sans-serif;
}
.fade:not(.show) {
  opacity: 1 !important;
}
.modal-content {
  padding: 28px 36px 38px 28px;
  max-width: 560px;
}
.modal-header {
  border-bottom: 0px !important;
  padding: 0px !important;
}
.modal-body {
  padding: 0px !important;
}
.modal-header__icon {
  color: var(--light-grey);
  font-size: 22px;
  font-weight: 600;
}
.modal-text {
  color: var(--darken-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 20px;
}
.popup-image {
  border: 17px solid #e1f4ff;
  border-radius: 200px;
  margin: 28px 0px 40px 0px;
}
.modal-footer {
  border: 0px !important;
  padding: 0px !important;
}
.modal-footer button {
  background-color: var(--light-blue);
  padding: 14px 74px;
}
.modal.modal-vcenter {
  padding: 0px !important;
}
.modal.modal-vcenter .modal-dialog {
  /* overwrites bootstrap4 properties */
  position: relative;
  margin: auto;
  max-width: 100%;
  /* added properties */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .modal.modal-vcenter .modal-dialog {
    min-width: 546px; /* or whatever min-width you want */
    max-width: 50%; /* width for most tablets and desktops */
  }
}

.modal .modal-body {
  max-height: 40vh;
  overflow-y: auto;
}
@media screen and (min-height: 460px) {
  .modal .modal-body {
    max-height: 65vh;
  }
}
/* MODAL */
