:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
  --light-grey: #687d8f;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.side-bar {
  background-color: #031623;
  color: var(--light-grey);
  font-size: 14px;
  max-width: 250px !important;
}

.side-bar__items {
  list-style-type: none;
}

.sid-bar__links,
.sid-bar__links:hover {
  font-size: 14px;
  font-weight: 400;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 2px;
}

.sid-bar__text {
  padding-left: 18px;
}

.link_no_decoration,
.link_no_decoration:hover {
  text-decoration: none;
  color: inherit;
}

.main-page {
  background-color: #f9fafc;
}

.navbar {
  height: 60px;
  box-shadow: 1px 1px #dfe4eb;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar__right {
  color: var(--light-blue);
  font-size: 14px;
  font-weight: 600;
}

.navbar__device {
  padding: 0px;
  margin-right: 18px;
  border: none;
  background: none;
}

.user-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.humberger {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  margin-right: 16px;
}

.main-content {
  padding: 20px 40px 0 40px;
}

.navbar__left {
  padding-left: 20px;
}

.main-content__header__paragraph {
  color: var(--darken-blue);
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.mid-section {
  margin-top: 20px;
  color: var(--light-grey);
}

.mid-section__header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.mid-section__paragraph {
  font-size: 14px;
  margin-bottom: 12px;
}

.mid-section__button, .btn-main {
  border: none;
  background-color: var(--light-blue);
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: fit-content !important;
  padding: 8px 12px 8px 12px;
}
.btn-main:hover {
  color: white;
}

.main-content__header__icon {
  margin-left: 10px;
  height: 16px;
  width: 16px;
}

.mm-lh {
  margin-right: 30px;
}
.mm-lh-switch {
  border-radius: 5px;
  /* border: 1px solid rgba(223, 228, 235, 1) */
  border: 1px solid #DFE4EB;
  margin-right: 15px;
}
.mm-lh-switch button {
  font-weight: 600;
  font-size: 14px;
  color: #9DA9B5;
  padding: 8px 15px;
}
.mm-lh-switch button:hover, .mm-lh-switch button:focus{
  color: #9DA9B5;
  box-shadow: none;
}
.mm-lh-switch button:active, .switch-active {
  outline: 0 !important;
  color: #062B45 !important;
  border-right: 1px solid #DFE4EB !important;
  border-left: 1px solid #DFE4EB !important;
  border-top: 0;
  border-bottom: 0;
  border-radius: 5px !important;
  z-index: 2;
  box-shadow: 0px 1px 1px 0px rgba(6, 43, 69, 0.05) !important;
}

/* Group Card */
.group-card {
  background-color: #F2F4F8;
  border-radius: 8px;
}
.group-card-header {
  position: relative;
  height: 48px;
  padding: 8px;
}
.grap-icon {
  cursor: pointer;
}
.group-name {
  height: 32px;
  margin-left: 6px;
  padding: 4px 0;
}
.group-name p {
  font-size: 16px;
  font-weight: 600;
  color: #062B45;
}
.data-graphs-btn {
  box-sizing: border-box;
  margin-left: 10px;
  height: 28px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  padding: 4px 8px;
  background: white;
  border: 2px solid #DFE4EB;
  border-radius: 4px;
}
.settings-icon {
  margin-right: 2px;
  cursor: pointer;
}
.data-graphs-btn svg {
  margin-bottom: 5px;
}

/* Sensors Rows */
.sensor-rows {
  padding: 0 12px 12px 12px;
  gap: 6px;
}
.sensor-row {
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #DFE4EB;
  position: relative;
}
.sensor-name {
  color: #062B45;
  font-weight: 600;
}
.sensor-alarm-label {
  margin-left: 10px;
}
.sensor-status-text {
  min-width: 250px;
  color: #687D8F;
  margin-top: 2px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  text-align: start;
}
.sensor-values {
  gap: 20px;
}
.sensor-current-value {
  margin-bottom: 6px;
  color: #062B45;
  text-align: start;
}
.sense-icon svg {
  margin: 2px 0;
}
.sensor-current-value span:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
}
.sensor-mm-lh {
  gap: 16px;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}
.sensor-mm-lh div span {
  font-weight: 500;
  color: #062B45;
}
.value-measurement {
  gap: 2px;
  margin-left: 3px;
}
.sensor-row .settings-icon {
  position: absolute;
  right: 10px;
  margin: 0;
}