:root {
  --light-blue: #0e76bc;
  --darken-blue: #062b45;
}
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}
.onboardplan-container {
  padding: 78px 166px 81px 149px;
}
.onboardplan-container__image {
  padding-bottom: 63px;
}

.onboardconfirm-container {
  width: 31.25%;
  min-width: 450px;
  max-width: 700px;
}

.onboardconfirm-title {
  width: 100%;

  margin: 2em 0em;
  color: var(--darken-blue);
  display: flex;
  flex-direction: column;
}
.onboardconfirm-title h1 {
  text-align: left;
  font-size: 28px;
}
.onboardconfirm-title p {
  text-align: left;
  font-size: 14px;
}
.onboardconfirm-title #title-bold {
  font-weight: 1200;
}
.onboardconfirm-selected {
  padding: 1.5em 2em;
  background-color: #e1f4ff;
  border-radius: 10px;
}

.onboardconfirm-selected #selected-plan {
  color: var(--darken-blue);
  font-size: 16px;
}
.onboardconfirm-selected #selected-price {
  color: #5b6d83;
  font-size: 14px;
}
.onboardconfirm-continue {
  margin: 2em 0em;
}
.onboardconfirm-continue button {
  width: 100%;
  background-color: #0e76bc;
  color: #fff;
}
